<div class="container-fluid">
	{{ form_start(form) }}
	<div class="row">
		<div class="col"></div>
		<div class="col">

			{{ form_row(form.title) }}
		</div>
		<div class="col">
			{{ form_row(form.start) }}
		</div>
		<div class="col">
			{{ form_row(form.end) }}
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-1">
			{{ form_row(form.background_color) }}
		</div>
		<div class="col-1">
			{{ form_row(form.border_color) }}
		</div>
		<div class="col-2">
			{{ form_row(form.text_color) }}
		</div>
		<div class="col-6">
			{{ form_row(form.description) }}
		</div>
		<div class="col-2"></div>
	</div>
	<button class="btn btn-primary text-">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
</div>
