{% extends 'admin/base.html.twig' %}

{% block title %}liste utilisateur
{% endblock %}

{% block body %}

	<div id="wrapper">
		<div
			class="container-fluid">

			<!-- Page Heading -->

			<a href="{{path('app_register')}}" class="btn btn-primary mb-4 ">Ajouter un nouveau membre</a>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3"></div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable">
							<thead>
								<tr>
									<th>Nom</th>
									<th>Prenom</th>
									<th>Email</th>
									{# <th>Adresse</th> #}
									<th>NumeroCarteIdentite</th>
									<th>NumeroCarteEtudiant</th>
									<th>NiveauEtude</th>
									<th>Image</th>
									{# <th>Faculte</th> #}
									<th>Edition</th>
									<th>Suppression</th>

								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td>{{user.nom}}</td>
										<td>{{user.prenom}}</td>
										<td>{{user.email}}</td>
										{# <td>{{user.adresse}}</td> #}
										<td>{{user.numeroCarteIdentite}}</td>
										<td>{{user.numeroCarteEtudiant}}</td>
										<td>{{user.niveauEtude}}</td>
										<td><img src="{{asset('uploads/personne/'~ user.image)}} " alt="" style="width:50px; height: 50px;"></td>
										<td>
											<a href="{{path('userEdit', { id:user.id}) }}" class="btn btn-info">Modifier</a>
										</td>
										<td>
											<a href="{{path('userDelete', { id:user.id}) }}" class="btn btn-danger">Supprimer</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
