{% extends 'base.html.twig' %}


{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.nom) }}
	{{ form_row(registrationForm.prenom) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.adresse) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.numeroTelephone) }}
	{{ form_row(registrationForm.dateNaissance) }}
	{{ form_row(registrationForm.lieuNaissance) }}
	{{ form_row(registrationForm.numeroCarteIdentite) }}
	{{ form_row(registrationForm.numeroCarteEtudiant) }}
	{{ form_row(registrationForm.faculte) }}
	{{ form_row(registrationForm.niveauEtude) }}
	{{ form_row(registrationForm.codification) }}
	{{ form_row(registrationForm.image) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
