{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<br><br><br><br><br>
	<div class="container-fluid">

		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 bg-light">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<br><br>
					<h1 class="h3 mb-3 font-weight-normal mb-4">&nbsp; &nbsp; &nbsp; &nbsp;SERVICE &nbsp;  D'AUTHENTIFICATION</h1>
					<label for="inputEmail mb-4">Votre adresse email</label>
					<input type="email" value="{{ last_username }}" name="email" id="form1Example1" class="form-control mb-4" autocomplete="email" required autofocus>
					<label for="form1Example1">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<br>
					<button class="btn btn-primary btn-block mb-4" type="submit">
						Se connecter
					</button>

					<p class="text-center">
						<a href="">Mot de pass oublié</a>
					</p>
				</form>
			</div>
			<div class="col-4"></div>
		</div>
	</div>
{% endblock %}
