{% extends "profile_utilisateurs/base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-10">
				<div class="tab-content" id="ex1-content">
					<div class="tab-pane fade show active">
						<section style="background-color: #eee;">
							<div class="text-center container py-5">
								<h4 class="mt-4 mb-5">
									<strong>Listes Candidats</strong>
								</h4>
								<div class="row">
									{% for listeCandidat in listeCandidats %}

										<div class="col-lg-4 col-md-6 mb-4">
											<div class="card">
												<div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
													<img src="{{listeCandidat.getIdUser().getImage()}} " class="w-100 "/>
													<a href="#!">
														<div class="mask">
															<div class="d-flex justify-content-start align-items-end h-100"></div>
														</div>
														<div class="hover-overlay">
															<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
														</div>
													</a>
												</div>
												<div class="card-body">
													<a href="" class="text-reset">
														<h5 class="card-title mb-3">{{listeCandidat.liste}}</h5>
													</a>
													<a href="" class="text-reset">
														<p>Programme</p>
													</a>
													<h6 class="mb-3">{{listeCandidat.programmes}}</h6>
												</div>
												<div class="d-flex justify-content-start align-items-end h-100">
													<h5>
														<a href="{{path('app_candidats_show', {'id': listeCandidat.id})}}">
															<span class="badge bg-primary ms-2">Plus de détails</span>
														</a>
													</h5>
													<h5>
														<a href="{{path('app_Vote', {'idCandidat':listeCandidat.id}) }}">
															<span class="badge bg-success ms-2">Je vote</span>
														</a>
													</h5>
												</div>
											</div>
										</div>

									{% else %}
										<tr>
											<td colspan="7">no records found</td>
										</tr>
									{% endfor %}
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
