{% extends "profile_utilisateurs/base.html.twig" %}
{% block body %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">
					{{personne.prenom}}
					{{personne.nom}}</span>
				<img class="img-profile rounded-circle" src="img/undraw_profile.svg">
			</a>
			<!-- Dropdown - User Information -->
		</li>
	</ul>
</nav>
<div class="container-fluid">

	<div class="row">
		<div class="col-2"></div>
		<div class="col-10">

			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Confirmation de vote</h5>
							<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">Vous etes sur le point de voter pour ce candidat
							<br>
							Souhaitez vous recevoire le code de Confirmation par email</div>
						<div class="modal-footer">
							{# <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Annuler</button> #}
							{# <button type="button" class="btn btn-primary">Recevoire le code </button> #}
								<a href="" class="btn btn-secondary " type="button"> Annuler</a>
							<a href="{{path('app_email', {'idCandidat':candidatChoisi.id})}}" class="btn btn-primary " type="button">Recevoire le code</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card bg-light rounded-4 hover-shadow">
				<h1 class="text-center ">
					Vote
				</h1>
				<div>
					<p>{{candidatChoisi.programmes}}</p>
				</div>
				<div class="container">
					<div class="row  ">
						<div class="col-sm-6 col-lg-10">
							<pre>	<h5>Pour debuter votre vote veuillez d'abord cliquer a cette button</h5><button type="button" class="btn btn-info  mb-4 " data-mdb-toggle="modal" data-mdb-target="#exampleModal">Je vote pour ce candidat</button></pre>
							</div>
							<div class="col-6 col-lg-2"></div>
						</div>
					</div>
				<form methode="Post" action="{{path('app_validation', {'idCandidat':candidatChoisi.id}) }}">
					<div class="row">
						<div class="col-6 col-sm-4"></div>
						<div class="col-6 col-sm-4">
						
							<div class="form-outline col-auto mb-4">
							
                              <input type="number" id="form6Example6" name="code" class="form-control" />
    
								<label class="form-label" for="formTextExample2">Veuillez entrer le code de confirmation que vous avez reçu par mail</label>
							</div>
					
						</div>
						<div class="col-6 col-sm-4"></div>
					</div>
					
					<div class="row">
						<div class="col-6 col-lg-5"></div>
							<div class="col-6 col-lg-4">
								<button type="submit" id="submit" class="btn btn-success mb-4 text-center">
						Confirmer mon vote vote
					</button>
							</div>	
						<div class="col-6 col-lg-2"></div>	
					</div> 
				</form>
			</div>
				</div>
		</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
	let btn = document.getElementById('submit');
	btn.onclick= function() {

					swal({
			title: "Felicitation!",
			text: "Votre vote a bien été enregistrer avec succée!",
			icon: "success",
		
			});
        }
	
	</script>
{% endblock %}
