<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		{# {{personne.id}} #}
		<h1 class="text-center ">
			Vote
		</h1>
		{# {{personne.id}}
						{{candidatChoisi.id}} #}
		{{ form_start(registrationForm) }}
		<div class="row">
			<div class="col">{{ form_row(registrationForm.id_candidat) }}
			</div>
			<div class="col">
				{{ form_row(registrationForm.id_user) }}
			</div>
			<div class="col">
				{{ form_row(registrationForm.date_vote) }}
			</div>
		</div>
		{{ form_end(registrationForm) }}
	</body>
</html>
