<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link href="{{ asset ('assets/admin/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
			<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

			<!-- Custom styles for this template-->
			<link href=" {{ asset ('assets/admin/css/sb-admin-2.min.css')}}" rel="stylesheet">
			<link href=" {{ asset ('assets/admin/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
		{% endblock %}

	</head>
	<body id="page-top">

		{% include "admin/includes/header.html.twig" %}
		{% block body %}{% endblock %}

		{% include "admin/includes/footer.html.twig" %}
		{% block javascripts %}
			<script src="{{ asset ('assets/admin/vendor/jquery/jquery.min.js')}}"></script>
			<script src="{{ asset ('assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
			<script src="{{ asset ('assets/admin/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
			<script src="{{ asset ('assets/admin/vendor/jquery/jquery.min.js')}}"></script>
			<script src="{{ asset ('assets/admin/js/sb-admin-2.min.js')}}"></script>
			<script src="{{ asset ('assets/admin/vendor/datatables/jquery.dataTables.min.js')}}"></script>
			<script src="{{ asset ('assets/admin/js/demo/datatables-demo.js')}}"></script>
			<script src="{{ asset ('assets/admin/vendor/datatables/jquery.dataTables.min.js')}}"></script>
		{% endblock %}
	</body>
</html>
