{% extends 'form.html.twig' %}
{% block title %}welcome
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-6 mx-auto ">
			{{budgetid}}
			<h1 class="display-4 my-4 text-center">Nouveau Dépenses</h1>
			{{form_start(form)}}
			{{form_row(form.type)}}
			{{form_row(form.montant)}}
			{{form_row(form.auteur)}}
			{{form_row(form.commentaires)}}
			{{form_row(form.justificatif)}}
			{{form_row(form.budget,{'value': budgetid})}}
			{{form_row(form.date)}}
			<button type="submit" class="btn btn-primary w-100 my-4">Send</button>
			{{form_end(form)}}
		</div>
	</div>

{% endblock %}
